{% extends 'layouts/base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, quaerat
      asperiores necessitatibus rerum quae sequi laboriosam consequuntur
      praesentium pariatur a, nostrum id aperiam corrupti veritatis maiores
      itaque officiis eum accusamus soluta obcaecati minus commodi! Quia
      consequuntur hic molestiae itaque. Minima corrupti excepturi ipsum
      quisquam expedita voluptas, itaque dicta non eveniet. Corporis fugiat sed
      voluptas esse ex vero illo maiores corrupti dolorum molestiae obcaecati
      labore ratione laborum, dolor debitis laudantium totam magni temporibus
      voluptatem? Odit doloremque provident magni recusandae excepturi suscipit?
      Quod repudiandae dolorem sequi magni error nemo magnam ipsum ad facere
      distinctio asperiores, maxime veritatis. Fugit eos repudiandae odio
      similique?
    </p>
	<div class="text-center">
		<a class="btn btn-secondary" href="/signin/">
			Signin
		</a>
		<a class="btn btn-dark" href="/signup/">
			Signup
		</a>
	</div>
  </section>
</main>
{% endblock %}
